.wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  line-height: 25px;

  @media screen and (max-width: 400px) {
    padding: 5px 0;
  }

  .text {
    color: #838383;
    font-weight: 400;
    font-size: 16px;

    @media screen and (max-width: 400px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .textItem {
      color: #000;
      font-weight: 500;
    }
  }

  @media screen and (max-width: 515px) {
    border-top: 1px solid #E6E6E6;
  }
}