.wrapper {
  display: flex;
  justify-content: center;
  padding: 23px 0;
  line-height: 25px;

  .text {
    color: #838383;
    font-weight: 400;
    font-size: 16px;

    .textItem {
      color: #000;
      font-weight: 500;
    }
  }
}