.wrapper {
  position: relative;
  margin-bottom: 15px;

  .input {
    border: 1px solid #838383;
    border-radius: 5px;
    background-color: #ffffff;
    width: 330px;
    padding: 12px 20px 12px 55px;

    font-size: 16px;
    line-height: 160%;
  }

  .img {
    position: absolute;
    left: 18px;
    top: 12px;
  }

  .eyeIcon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
  }
}