.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 30px 13px 20px;

  .logoBlock {
    display: flex;
    align-items: center;

    .image {
      margin-right: 20px;
    }

    .text {
      max-width: 225px;
      line-height: 26px;

      @media screen and (max-width: 515px) {
        display: none;
      }
    }
  }

  .nameBlock {
    display: flex;
    gap: 20px;
    align-items: center;

    .avatarBlock {
      font-size: 18px;
      width: 50px;
      height: 50px;
    }
  }

  @media screen and (max-width: 515px) {
    border-bottom: 1px solid #E6E6E6;
  }
}