.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 30px 13px 20px;

  .logoBlock {
    display: flex;
    align-items: center;

    .image {
      margin-right: 20px;
    }

    .text {
      max-width: 225px;
      line-height: 26px;
    }
  }
}