.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  height: calc(100vh - 151px);

  .formRegister {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;

    h1 {
      font-weight: 500;
      font-size: 30px;
      line-height: 140%;
      margin-bottom: 25px;
    }

    .createAccount {
      width: 100%;
      margin-top: 15px;
    }
  }

  @media screen and (max-width: 515px) {
    background-color: inherit;
  }
}