.AccountBlock {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;

  a {
    width: 100%;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .avatarBlock {
      display: flex;
      align-items: center;

      .avatar {
        font-size: 18px;
        width: 50px;
        height: 50px;
        margin: 10px 20px 10px 0;
      }
    }
    &:hover {
      background-color: #E6E6E6;
      cursor: pointer;
    }

    .email {
      @media screen and (max-width: 650px){
        display: none;
      }
    }
  }

  .btnDeleteMobile {
    img {
      width: 30px;
    }
    @media screen and (min-width: 550px){
      display: none;
    }
  }

  .btn {
    margin-left: 20px;

    @media screen and (max-width: 550px){
      display: none;
    }
  }
}