* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #000;
}

a {
    text-decoration: none;
}

img {
    cursor: pointer;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.errorMessage {
    color: red;
    margin-bottom: 20px;
}